@using System.Globalization

<div class="clearfix">
    <div class="message-data @(IsRight ? "align-right" : "")">
        <span class="message-data-time" style="color:@TextColor">
            @($"{DateMessage.ToString("hh: mm tt", CultureInfo.InvariantCulture)}, {(DateMessage.Date == DateTime.Today ? "Today" : $"{DateTime.Now:MMMM dd}")}")
        </span> &nbsp; &nbsp;
        <span class="message-data-name" style="color:@TextColor">@Name</span> <i class="fa fa-circle me"></i>

    </div>
    @if (IsRight)
    {
        <div class="message my-message float-right" style="color:@MessageTextColorRight; background:@MessageBackgroundColorRight;">
            @Message
        </div>
    }
    else
    {
        <div class="message other-message" style="color:@MessageTextColorLeft;background:@MessageBackgroundColorLeft;">
            @Message
        </div>
    }
</div>

<style>

    .message-data {
        margin-bottom: 15px;
    }

    .message-data-time {
        padding-left: 6px;
    }

    .message {
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 90%;
        position: relative;
        word-wrap: break-word; 
        word-break: break-word; 
        overflow-wrap: break-word;
    }

        .message:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: @MessageBackgroundColorLeft;
            border-width: 10px;
            margin-left: -10px;
        }

        .my-message:after {
        border-bottom-color: @MessageBackgroundColorRight;
            left: 93%;
        }


    .align-right {
        text-align: right;
    }

    .float-right {
        float: right;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

</style>

@code{
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public DateTime DateMessage { get; set; }

    [Parameter]
    public bool IsRight { get; set; }

    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public string MessageTextColorRight { get; set; } = "white";

    [Parameter]
    public string MessageTextColorLeft { get; set; } = "orange";

    [Parameter]
    public string MessageBackgroundColorRight { get; set; } = "red";

    [Parameter]
    public string MessageBackgroundColorLeft { get; set; } = "#000";
}
