<div style="display:flex;justify-content:space-between; align-items:center; gap: 10px; @(IsFlexWrap ? "flex-wrap : wrap": "")">
    @ItemTemplate
</div>

@code {
    [EditorRequired]
    [Parameter]
    public RenderFragment? ItemTemplate { get; set; } = default!;

    [Parameter]
    public bool IsFlexWrap { get; set; }
}
