@typeparam TItem

@if (Items == null || !Items.Any())
{
    @if (EmptyResults != null)
    {
        @EmptyResults
    }
    else
    {
        <NoResults Message="Oops, no results found." Image="_content/Diversefy.Components/images/empty-results.png" ShowDiscoverButton="false" />
    }
}
else
{
    <div class="cards">
        @foreach (TItem item in Items)
        {
            @ItemTemplate(item)
        }
    </div>
}

<style>
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        padding: 0 0px;
    }
</style>

<style>
    @MediaWidthStyle
</style>

@code {
    [EditorRequired]
    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; } = default!;

    [Parameter]
    public RenderFragment? EmptyResults { get; set; }


    [Parameter]
    public int MaxColumns { get; set; } = 1;

    public string MediaWidthStyle => $@"
@media (min-width: 600px) {{
    .cards {{
        grid-template-columns: repeat(1, 1fr);
    }}
}}

@media (min-width: 912px) {{
    .cards {{
        grid-template-columns: repeat(1, 1fr);
    }}
}}

@media (min-width: 1200px) {{

    .cards {{
        grid-template-columns: repeat({MaxColumns}, 1fr);
    }}
}}";
}
