<label @onclick=@OnClicked style="color: @TextColor;">
    @Text
</label>

@code {

    [Parameter]
    public string Text { get; set; } = default!;

    [Parameter]
    public string TextColor { get; set; } = "#000";

    /// <summary>
    /// The event triggered when the button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback ClickEvent { get; set; }


    void OnClicked()
    {
        ClickEvent.InvokeAsync();
    }
}
