
<style>
    .modal-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 800;
    }

</style>

@if (IsVisible)
{
    <div class="modal-overlay" style="
        top: @($"{Top}%");
        left: @($"{Left}%");">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public int Top { get; set; }

    [Parameter]
    public int Left { get; set; }

}

