<nav class="active ch-nav" style="
        height: @Height;
        background-color: @BackgroundColor;
        @(IsUseBoxShadow ? "box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);" :"")">
    <div class="ch-nav-bar" style="
        background-color: @BackgroundColor;
        max-width: @MaxWidth;">
        <span class="ch-logo">
            @if (!string.IsNullOrEmpty(PathIcon))
            {
                <img src=@PathIcon height="32" />

            }
            <a class="ch-a" style="
            color: @TextColor;" href=@PathTitle>@Title</a>
        </span>
        <div class="ch-container-icons">
            @ItemTemplate
        </div>
    </div>
</nav>

<style>
    .ch-nav {
        position: fixed;
        grid-area: header;
        width: 100%;
        z-index: 100;
    }

        .ch-nav .ch-nav-bar {
            padding: 1rem;
            position: relative;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .ch-nav .ch-nav-bar .ch-logo {
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
            }

                .ch-nav .ch-nav-bar .ch-logo .ch-a {
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: none;
                }

    .ch-nav-bar .ch-container-icons {
        display: flex;
        align-items: center;
    }

</style>

@code {
    // Height of the navigation bar
    [Parameter]
    public string Height { get; set; } = "70px";

    // Template for additional items (icons, links, etc.) in the navigation bar
    [Parameter]
    public RenderFragment? ItemTemplate { get; set; } = default!;

    // Background color of the navigation bar
    [Parameter]
    public string BackgroundColor { get; set; } = "#fff";

    // Text color in the navigation bar
    [Parameter]
    public string TextColor { get; set; } = "#000";

    // Title displayed in the navigation bar
    [Parameter]
    public string Title { get; set; } = "Title";

    // URL of the link associated with the title
    [Parameter]
    public string PathTitle { get; set; } = "";

    // Path to the icon to be displayed next to the title
    [Parameter]
    public string PathIcon { get; set; } = default!;

    // Maximum width of the navigation bar
    [Parameter]
    public string MaxWidth { get; set; } = "1100px";

    // Indicates whether a box shadow should be applied to the navigation bar
    [Parameter]
    public bool IsUseBoxShadow { get; set; } = true;
}
