<nav class="active" style="
        background-color: @BackgroundColor;">
    <div class="nav-bar" style="
        background-color: @BackgroundColor;">
        <span class="logo navLogo">
            <img src=@PathImg width="32" height="32" /><a style="
            color: @TextColor;" href=@PathTitle>@Title</a>
        </span>
        <div class="darkLight-searchBox">
            <div class="dark-light" @onclick=@OnChangeMode>
                <img class='moon' src=@PathDarkMode width="32" height="32"/>
                <img class='sun' src=@PathLightMode width ="32" height="32" />
            </div>
        </div>
    </div>
</nav>

<style>
    nav {
        position: fixed;
        grid-area: header;
        height: 70px;
        width: 100%;
        z-index: 100;
    }

    body.dark nav {
        border: 1px solid #393838;
    }

    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        nav .nav-bar .logo a {
            font-size: 25px;
            font-weight: 500;
            text-decoration: none;
        }

    .nav-bar .darkLight-searchBox {
        display: flex;
        align-items: center;
    }

    .darkLight-searchBox .dark-light,
    .darkLight-searchBox .searchToggle {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    .dark-light img,
    .searchToggle img {
        position: absolute;
        color: @TextColor;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .dark-light img.sun {
            opacity: 0;
            pointer-events: none;
        }

    .dark-light.active img.sun {
        opacity: 1;
        pointer-events: auto;
    }

    .dark-light.active img.moon {
        opacity: 0;
        pointer-events: none;
    }

</style>

@code {
    [Parameter]
    public string BackgroundColor { get; set; } = "#fff";

    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public string Title { get; set; } = "Title";

    [Parameter]
    public string PathTitle { get; set; } = "#";

    [Parameter]
    public string PathImg { get; set; } = default!;

    [Parameter]
    public string PathDarkMode { get; set; } = "#";

    [Parameter]
    public string PathLightMode { get; set; } = "#";

    [Parameter]
    public EventCallback ChangeModeEvent { get; set; }

    void OnChangeMode()
    {
        ChangeModeEvent.InvokeAsync();
    }

}