

@if (IsOnChange)
{
    <div class="ch-textarea-input" style="width:@Width%;">
        <textarea spellcheck="false" class="ch-textarea" style="
            color: @TextColor;
            height: @HeightDesktop;
            background-color:@BackgroundColor" placeholder=@Placeholder @onchange="OnValueChanged"
                  disabled=@Disabled></textarea>
    </div>
}
else
{

    <div class="ch-textarea-input" style="width:@Width%;">
        <textarea spellcheck="false" class="ch-textarea" style="
            color: @TextColor;
            height: @HeightDesktop;
            background-color:@BackgroundColor" placeholder=@Placeholder @bind="Value" @oninput="OnValueChanged"
                  disabled=@Disabled></textarea>
    </div>

}


<style>

    .ch-textarea-input {
        border-radius: 5px;
        border: 1px solid #ccc;
        display: flex;
        border-bottom: 1px solid #ccc;
    }

        .ch-textarea-input .ch-textarea {
            width: 100%;
            border: none;
            outline: none;
            resize: none;
            background: none;
            font-size: 18px;
            padding: 10px 15px;
            border-radius: 5px;
        }

            .ch-textarea-input .ch-textarea::placeholder {
                color: #b7b6b6;
            }

            .ch-textarea-input .ch-textarea::-webkit-scrollbar {
                color: @TextColor;
                width: 4px;
            }

            .ch-textarea-input .ch-textarea::-webkit-scrollbar-track {
                background: #fff;
            }

            .ch-textarea-input .ch-textarea::-webkit-scrollbar-thumb {
                background: #ddd;
                border-radius: 8px;
            }

</style>

@code {

    [Parameter]
    public bool IsOnChange { get; set; } = true;

    [Parameter]
    public string Value { get; set; } = default!;

    [Parameter]
    public string Placeholder { get; set; } = default!;

    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public string BackgroundColor { get; set; } = "transparent";

    [Parameter]
    public string HeightDesktop { get; set; } = "250px";

    [Parameter]
    public int Width { get; set; } = 100;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private void OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? string.Empty;
        ValueChanged.InvokeAsync(Value);
    }
}