<div class="ch-text-input" style="border-color: @BorderColor;">
    <Microsoft.AspNetCore.Components.Forms.InputText Value="@Value"
                                                     ValueChanged="@OnValueChanged"
                                                     ValueExpression="@(() => Value)"
                                                     AdditionalAttributes="@additionalAttributes" />
</div>

<style>
    .ch-text-input {
        border-radius: 5px;
        border: 1px solid;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .ch-text-input .ch-input {
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        background: none;
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .ch-text-input .ch-input::placeholder {
        color: #b7b6b6;
    }

    .ch-text-input .ch-input::-webkit-scrollbar {
        color: @TextColor;
        width: 4px;
    }

    .ch-input::-webkit-scrollbar-track {
        background: #fff;
    }

    .ch-text-input .ch-input::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 8px;
    }
</style>

@code {
    private Dictionary<string, object> additionalAttributes = new Dictionary<string, object>();

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = default!;

    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public string BackgroundColor { get; set; } = "Transparent";

    [Parameter]
    public string BorderColor { get; set; } = "#ccc";

    [Parameter]
    public int Maxlength { get; set; } = 1000;

    [Parameter]
    public bool Disabled { get; set; }

    protected override void OnParametersSet()
    {
        additionalAttributes["class"] = "ch-input";
        additionalAttributes["maxlength"] = Maxlength;
        additionalAttributes["placeholder"] = Placeholder;
        additionalAttributes["disabled"] = Disabled;

        additionalAttributes["style"] = $"color: {TextColor}; background-color: {BackgroundColor};";
    }
    
    private async Task OnValueChanged(string newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(newValue);
    }

}
