<h1 class="titleh1" style="color: @TextColor;">
    @Text
</h1>

<style>

    .titleh1 {
        text-align:center;
        padding: 30px 20px 20px;
        font-size: 24px;
        width: 100%;
    }

</style>

<style>
    @MediaWidthStyle
</style>

@code{

    [Parameter]
    public string Text { get; set; } = default!;

    [Parameter]
    public string TextColor { get; set; } = "#000";

    public string MediaWidthStyle = @"
@media (min-width: 600px) {
    .titleh1 {
        max-width: 500px;
        margin: auto;
    }
}";
}