<p class="ch-title"
   style="
    @(IsCenter ? "text-align: center;":"")
    color: @TextColor;
    @(IsBold ? " font-weight: bold;" : " font-weight: initial;")
@(IsLineThrough ? "text-decoration: line-through;": "")
    font-size: @($"{FontSize}px");">
    @Text
</p>

<style>

    .ch-title {
        width: 100%;
    }

</style>

@code {
    // Parameter to set the font size for the text. Defaults to 24px.
    [Parameter]
    public int FontSize { get; set; } = 24;

    // Parameter to define the text content that will be displayed.
    [Parameter]
    public string Text { get; set; } = default!;

    // Parameter to set the color of the text. Defaults to black (#000).
    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public bool IsLineThrough { get; set; }

    // Parameter to indicate if the text should be centered. Defaults to true.
    [Parameter]
    public bool IsCenter { get; set; } = true;

    [Parameter]
    public bool IsBold { get; set; } = true;

    // A string to hold the dynamically generated CSS media query for responsive design.
    string Media = "";

    // This method is called whenever the parameters of the component are set or updated.
    // It dynamically generates CSS for responsive font sizing based on the screen width.
    protected override void OnParametersSet()
    {
        // Generates a CSS media query that decreases the font size for smaller screens.
        Media = $@"
        <style>
        @media only screen and (max-width: 1200px) {{
            .titleh1 {{
                font-size: {FontSize - 10}px;
            }}
        }}
        </style>";
    }
}
