<div class="ch-wrapper" style="
        background: @BackgroundColor;
        max-width: @($"{MaxWidth}px");
        @(IsUseBoxShadow ? "box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08), 0 12px 16px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.03);" : "")">
    @ItemTemplate
</div>

<style>
    .ch-wrapper {
        width: 100%;
        padding: 30px;
        border-radius: 7px;
    }

</style>

@code {
    [Parameter]
    public int MaxWidth { get; set; } = 690;

    [Parameter]
    public bool IsUseBoxShadow {get;set;} = true;
    
    [EditorRequired]
    [Parameter]
    public RenderFragment ItemTemplate { get; set; } = default!;

    [Parameter]
    public string BackgroundColor { get; set; } = "#fff";
}
